<!-- footer.component.html -->
<footer class="footer bg-dark text-white text-center py-4">
    <div class="d-flex justify-content-end">
      Baltimore, MD | (667) 391-2842 | <a href="mailto:karthikvibuthi555@gmail.com" class="text-white">karthikvibuthi555&#64;gmail.com</a><br />
      <a href="https://www.linkedin.com/in/karthik-vibuthi-337709184/" target="_blank" class="text-white">LinkedIn</a> | 
      <a href="https://karthikvibuthi.github.io/portfolio2024/" target="_blank" class="text-white">Portfolio</a> | 
      <a href="https://github.com/karthikvibuthi" target="_blank" class="text-white">GitHub</a>
    </div>
  </footer>
  