<div class="d-flex justify-content-between">
  <div class="d-flex flex-column gap-3 w-75">
    <h1>ADOPTING AI IN WORK</h1>
    <h2>
      Full time experienced in software engineering in full stack development,
      coding practices and hands on experience with data bricks, machine
      learning and AI practices.
    </h2>

    <h2>
      I am pursuing areas of software development with machine learning
      adoption.
    </h2>
  </div>
  <div class="d-flex flex-column">
    <div *ngFor="let img of images" class="d-flex align-items-center gap-2">
      <img class="images" [src]="img.src" alt="{{ img.alt }}" />
      <p>{{ img.desc }}</p>
    </div>
  </div>
</div>
<button [routerLink]="['/connect']" routerLinkActive="router-link-active"  class="btn btn-primary my-4">Connect</button>
