<div class="nav py-3 ps-4 bg-black d-flex flex-column gap-2 h-100">
  <img
    src="./assets/images/kvlogo.jpeg"
    style="width: 80px"
    alt="karthik"
  />
  <div class="list-unstyled d-flex flex-column gap-2">
    <p class="py-4" routerLink="/about">About</p>
    <p class="py-4" routerLink="/summary">Professional Summary</p>
    <p class="py-4" routerLink="/projects">Projects</p>
    <p class="py-4" routerLink="/connect">Connect</p>
    <p class="py-4" routerLink="/login">Login</p>
    <p class="py-4" routerLink="gpt-agent">GPT Agent</p>
  </div>
</div>

